:root {
    --color-primario: #0078ff;
    --color-secundario: #00c853;
    --color-fondo: #f4f4f4;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-negro: #000;

    --padding-seccion: 40px;
    --ancho-maximo: 1200px;
}
